<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron text-center ">
    <h1 class="display-4" id="app-title">Burger World</h1>
    <p class="lead"></p>
  </div>
  <div class="row">
    <div class="col-md-4" ></div>
    <div class="col-md-2" ></div>
    <div class="col-md-5" >
      <div class="card" id="orders">
        <div class="card-header" >
          <h5 style="font-family: font-family: 'Gochi Hand', cursive;">Welcome To Burger World</h5>
         <p>CAN I TAKE YOUr ORDEr?</p>
        </div>
        <!--Create/add burger form-->
        <div class="card-body">
          <form class="create-form">
            <div class="form-group">
              <label for="burger">Place order here:</label>
              <input type="text" class="form-control" id="burgerToGo" placeholder="">
            </div>
            <button class="btn" type="submit"  onclick="snd.play()">Place order</button>
          </form>
        </div>
      </div>
    </div>
     <div class="col-md-1" >
       <img src="https://media.giphy.com/media/10Q8xvt4dPgu40/giphy.gif">
     </div>
    
  </div>

  <div class="row mt-4" >
    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header">
         <h6>Burgers</h6>
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
              {{#each burger}}
                {{#unless devoured}}
                  {{> burgers/burger_block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header" id="devoured-card-header">
         <h6>Devoured burgers</h6>
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burger}}
              {{#if devoured}}
                {{> burgers/burger_block devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
