<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    var snd = new Audio("beavisandbutthead/hehe.mp3"); 
</script>
</head>
<body >
  

<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron text-center ">
    <h1 class="display-4" id="app-title">Burger World</h1>
    <p class="lead"></p>
  </div>

  <div class="row">
    <div class="col-md-4" ></div>
    <div class="col-md-2" ></div>
    <div class="col-md-5" >
      <div class="card" id="orders">
        <div class="card-header" >
          <h5 style="font-family: font-family: 'Gochi Hand', cursive;">Welcome To Burger World</h5>
         <p>CAN I TAKE YOUr ORDEr?</p>
        </div>
        <!--Create/add burger form-->
        <div class="card-body">
          <form class="create-form">
            <div class="form-group">
              <label for="burger">Place order here:</label>
              <input type="text" class="form-control" id="burgerToGo" placeholder="">
            </div>
            <button class="btn" type="submit"  onclick="snd.play()">Place order</button>
          </form>
        </div>
      </div>
    </div>
     <div class="col-md-1" >
       <img src="https://media.giphy.com/media/10Q8xvt4dPgu40/giphy.gif">
     </div>
    
  </div>


  <div class="row mt-4">
    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header">
         <h6>Burgers</h6>
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header" id="devoured-card-header">
         <h6>Devoured burgers</h6>
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-devoured devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  </body>
  <script>
    var snd = new Audio("/assets/images/hehe.mp3"); 
</script>
</html>