.jumbotron{
 margin-top: 100px;
 opacity:.0;
 margin-bottom: 0;
 height: 100px; 
}
.card-header{
background: red;
color: yellow;

}

body{
  background-image: url("https://thumbs.worthpoint.com/wpimages/images/images1/1/0117/13/1_155d91aaf40d552f7f2ba7f2ceb062be.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  }
h5{
  text-shadow: 3px 2px black;
  font-size: 30px;
  font: bolder;
  
}
.card{
  border: 2px solid black;
  border-radius: 50px;
}
.btn{
  background:yellow;
  color:red;
  font-style: bolder;
  border: 2px solid black;
  
}
p{
  font-family: 'Gochi Hand', cursive;
  color: black;
  font-size: 24px;
  font: bolder;
}
h6{
  color:yellow;
  text-shadow: 2px 1px black;
  font-size: 24px;
}
img{
  width:130px;
  margin-top: 55px;
  z-index: 100;
  border: 4px inset black;
  box-shadow: 5px 0px 5px black;
}
